<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#222831"/>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./images/logo.png" sizes="48x48" />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    crossorigin="anonymous">
    <title>Delish Food</title>
  </head>
  <body>
    <a class="skip-to-content" id="skip-to-content" tabindex="0">Main Content</a>
    <header>  
      <nav-header></nav-header>
    </header>
    <main>
      <section tabindex="0" id="main-content">
        <div class="wrapper" id="wrapper-restaurant"></div>
      </section>
    </main>
    <footer>
      <footer-element></footer-element>
    </footer>
  </body>
</html>
